.bottomBar {
    background-color: yellow;
    width: 100%;
    height: 25vh

}
.secondFromBottom {
    background-color: blue;
    width: 100%;
    height: 25vh
}
.thirdFromBottom {
    background-color: green;
    width: 100%;
    height: 25vh;

}
.fourthFromBottom {
    background-color: red;
    width: 100%;
    height: 25vh;

}
.fifthFromBottom {
    background-color: white;
    width: 100%;
    height: 50vh;
}
.sixthFromBottom {
    background-color: gray;
    width: 100%;
    height: 15vh;
}
.smallInnerBox {
    background-color: red;
    width: 12vh;
    height: 12vh;
    margin: 12px;
    position: absolute;
    top: 18; 
}

