body {
    background-color: gray;
}

.topLayer {
    width: 75%;
    height: 100vh;
    margin: auto;
    background-color: white;
}

.footer {
    width: 75%;
    height: 25vh;
    margin: auto;
    background-color: #444;
}

.header {
    width: 100%;
    height: 25vh;
    background-color: #444;
}